<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>BiasNet</title>
</head>
<form method=POST action="{{ url_for('predict') }}">
    <fieldset>
        <legend>Input values:</legend>
        SMILES:
        <input name="SMILES" type="string" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> The predicted result is:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</html>
